@aws-sdk:registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/
registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/
//artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-virtual/:_authToken=${NODE_AUTH_TOKEN}
