@com.q4inc.connect.artifactory.watchdog.control:registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-snapshots-local/
@com.q4inc.connect.platform:registry=https://artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-snapshots-local/
//artifacts.platform.q4inc.com/artifactory/api/npm/npm-capital-connect-platform-snapshots-local/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true
